//default.scss row 1858
.news_socials_wrap{
	background: url(../images/MMA_Post_2_1.png) 50% no-repeat;
	background-size: 150%;
	margin-top: 140px;
	position: relative;
	overflow: hidden;
    .phone_wrapper{
        width: 100%;
        height: 100%;
        .iphone{
            position: absolute;
            width: 369px;
            height: 750px;
            left: 60.688%;
            top: 16px;
        }
    }
    .reddots{
        width: 100%;
		height: 100%;
		max-width: unset;
		object-fit: cover;
        mix-blend-mode: exclusion;
    }
}
.paralax{
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    position: absolute !important;
    .bg{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

//971
.b3_wrap{
    overflow: hidden;
    //+ убрать фон блока
}

//row 990
.b3{
    position: relative;
    z-index: 1;
}

//row 1805
.pns_content{
	display: inline-block;
	position: relative;
	overflow: hidden;
	>div{
		overflow: hidden;
		margin-bottom: 20px;
		>img{
			transition: all .3s;
		}
	}
	&.old{
		>img{
			filter: grayscale(100%);
		}
	}
	&:hover{
		>div{
			>img{
				transform: scale(1.1);
			}
		}
		
		.pns_name{
			color: #E04141;
		}
		.pns_date{
			opacity: .4;
		}
	}
	>img{
		display: block;
		margin-bottom: 20px;
		transition: .3s;		
	}
}

// вставить куда-нибудь например после 924, или в .ns_content
.img-wrap{
	overflow: hidden;
}

@media (max-width: 1025px){
	.news_socials_wrap{
		.phone_wrapper{
			.iphone {
				width: 215px;
				height: 437px;
				left: 56.8%;
				top: 35px;
			}
		}
	}
}


@media (max-width: 767px){
	.news_socials_wrap{
		.phone_wrapper{
			.iphone {
				width: 197px;
				height: 400px;
				margin: auto;
				left: 0;
				right: 0;
				top: 229px;
			}
		}
	}
}